
@{
    ViewBag.Title = "Graficas";
}

<h2>Graficas</h2>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Revenue</span>
                    <span class="caption-helper">distance stats...</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-trash"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="output">



                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light" >
            <div class="portlet-title">
                <form novalidate>
                  
                </form>

            </div>
            <div id="myDiv">



            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var trace1 = {
            x: [1, 24, 76],
            y: [4, 5, 6],
            name: 'yaxis1 data',
            type: 'scatter'
        };

        var trace2 = {
            x: [26, 37, 49],
            y: [40, 50, 60],
            name: 'yaxis2 data',
            yaxis: 'y2',
            xaxis:'x2',
            type: 'scatter'
        };

        var trace3 = {
            x: [41, 56, 68],
            y: [40000, 50000, 60000],
            name: 'yaxis3 data',
            yaxis: 'y3',
            type: 'scatter'
        };

        var trace4 = {
            x: [57, 69, 108],
            y: [400000, 500000, 600000],
            name: 'yaxis4 data',
            yaxis: 'y4',
            type: 'scatter'
        };

        var data = [trace1,trace2];

        var layout = {
            title: 'multiple y-axes example',
            width: 800,
            xaxis: {
                title: '',
                titlefont: { color: '#1f77b4' },
                tickfont: { color: '#1f77b4' }
            },
            yaxis: {
                title: '',
                titlefont: { color: '#1f77b4' },
                tickfont: { color: '#1f77b4' }
            },
            xaxis2: {
                title: '',
                titlefont: { color: '#ff7f0e' },
                tickfont: { color: '#ff7f0e' },
                //anchor: 'free',
                overlaying: 'x',
                //side: 'top',
                position: 0.05
            },
            yaxis2: {
                title: '',
                titlefont: { color: '#ff7f0e' },
                tickfont: { color: '#ff7f0e' },
                anchor: 'free',
                overlaying: 'y',
                side: 'left',
                position: 0.05
            },
            /*yaxis3: {
                title: '',
                titlefont: { color: '#d62728' },
                tickfont: { color: '#d62728' },
                anchor: 'x',
                overlaying: 'y',
                side: 'right'
            },
            yaxis4: {
                title: '',
                titlefont: { color: '#9467bd' },
                tickfont: { color: '#9467bd' },
                anchor: 'free',
                overlaying: 'y',
                side: 'right',
                position: 0.85
            }*/
        };

        Plotly.newPlot('myDiv', data, layout);
 
    </script>
}

