

<div class="row" ng-app="excelApp">
    <div id="exTab1" class="container">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#1a" data-toggle="tab">Datos</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Grafica</a>
            </li>

        </ul>

        <div class="tab-content clearfix">
            <div class="tap-pane active" id="1a" ng-controller="dataTable">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered" id="tableDiv">
                    <input id="file" type="file" fileread style="visibility:hidden" />
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Importar Datos de Excel</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <button class="btn red btn-outline btn-circle btn-sm" id="browse">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="xple">

                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="tab-pane" id="2a" ng-controller="graphics">
                <div class="col-md-3">
                    <div class="portlet box green">

                        <div class="portlet-body">
                            <div class="panel-group accordion" id="accordion1" ng-repeat="ChartConfig in ChartConfigs">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1 " href="#{{ChartConfig.id}}">{{ChartConfig.name}} </a>
                                        </h2>
                                    </div>
                                    <div id="{{ChartConfig.id}}" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="form-group" style="padding-bottom: 10%">
                                                <label class="col-md-3">x</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" ng-change="generate()" ng-model="ChartConfig.x" ng-options="column for column in columns" data-live-search="true" data-size="8"></select>
                                                </div>
                                            </div>
                                            <div class="form-group" style="padding-bottom: 10%">
                                                <label class="col-md-3">y</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" ng-change="generate()" ng-model="ChartConfig.y" ng-options="column for column in columns" data-live-search="true" data-size="8"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4">color</label>
                                                <div class="col-md-8">
                                                    <input id="colorPick" type="color" ng-change="generate()" ng-model="ChartConfig.color" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4">tipo de grafica</label>
                                                <div class="col-md-8">
                                                    <select class="bs-select form-control" ng-change="generate()" ng-model="ChartConfig.type" ng-options="type for type in types" data-live-search="true" data-size="8"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button ng-click="newChart()" class="btn btn- btn-primary">nueva grafica</button>
                        </div>
                    </div>
                </div>
                <!-- panel de grafica -->
                <div class="col-md-9">
                    <div class="portlet box green">
                        <div class="portlet-title">
                        </div>
                        <div class="portlet-body">
                            <div id="chart"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/xlsx.core.min.js"></script>
    <script src="~/Content/xls.core.min.js"></script>
    <script src="~/Scripts/handsontable.full.js"></script>
    <script src="~/Scripts/angular-js-xlsx.js"></script>
    <script src="~/Scripts/plotly-latest.min.js"></script>
    <script src="~/Scripts/ExcelCharts.js"></script>
   <script type="text/javascript">
       $(document).ready(function () {
           $("#browse").click(function () {
               $("#file").click();
           });
            document.getElementById("colorPick").value = "#0aa3f5";
       });
    </script>
     }